*{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 600;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-image: url('/src/images/fundo.png');
    background-size:cover;
    
}
.box1{
    width: 50%;
    margin-left: 25%;
    height: 25%;
      
}
h1{
    margin-left: 14%;
    font-size: 65px;
}
span{
    color: orange;
}
input{
    border-radius: 6px;
    padding: 10px;
    color: black;
    
}
button{
    padding: 10px;
    border-radius: 6px;
    color: black;
}
btn-limpar{

}
i{
    color: orange;
}
.resultado{
    display: flex;
    margin-top: 5%;
    background: rgba(199, 179, 179, 0.8);
    border-radius: 8px;
    width: 55%;
    
   
   
}
ul{
    list-style: none;
}
.tabela{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    
    
}
.nomes{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    
}
.voa{
    position: relative;
}
.icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 4px;
}
.btn-limpar{
    text-indent: 10px;
}